body {
  margin: 0;
  padding: 0;
  font-family:"Courier New", Courier, monospace;
  background: linear-gradient(50deg, #96deda 0%, #50c9c3 100%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

button{
  cursor: pointer;
}
